In [28]:
from alpaca_trade_api.rest import REST, TimeFrame
from alpaca_trade_api.entity import (
    Bar, Entity, Account, AccountConfigurations, AccountActivity,
    Asset, Order, Position, BarSet, Clock, Calendar,
    Aggs, Trade, Quote, Watchlist, PortfolioHistory
)

api = REST(key_id="PKX7NWBTMYXT2JU5FBVS", secret_key="FgzjEqmnoHXtDQ1vBHjGCArd1khau7Q868VkJrGA")
#api = REST()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
def calculate_group_vwap(df, price, size):
    dff = df.copy()
    dff['pxs']= dff["price"] * dff["size"]
    numerator=dff['pxs'].sum()
    denom = dff["size"].sum()
    vwap= numerator/denom
    print(numerator, denom, vwap)
    return vwap

In [30]:
class AlpacaDownloader:
    
    def __init__(self):
        pass
    
    def get_quotes(self, symbol, start, end, limit=100000):
        return api.get_quotes(symbol, start, end, limit=limit).df

    
    def get_trades(self, symbol, start, end, limit=100000):
        return api.get_trades(symbol, start, end, limit = limit).df


    def get_bars(self, symbol, start, end, interval=TimeFrame.Minute, limit=100000):
        return api.get_bars(symbol, interval, start, end, limit=limit).df

In [31]:
ad = AlpacaDownloader()

#### Read files

In [32]:
orders = pd.read_excel("orders_symbols.xlsx")
dollars = pd.read_excel("dollar_symbols.xlsx")

In [33]:
start_date = "2021-01-01"
end_date = "2021-08-30"
interval = TimeFrame.Minute

In [34]:
aapl = ad.get_bars("AAPL", "2021-07-13", "2021-07-14", limit=3000000)
len(aapl)

1688

In [35]:
dollars

     symbol  dollars_filled  cum_sum/sum
0      TSLA    3.165366e+08     0.058183
1       GME    2.263497e+08     0.099788
2      AAPL    1.449961e+08     0.126439
3       NIO    1.170493e+08     0.147954
4      AMZN    1.099452e+08     0.168163
...     ...             ...          ...
9058  TRBCX    0.000000e+00     1.000000
9059   TYBT    0.000000e+00     1.000000
9060  WALDU    0.000000e+00     1.000000
9061   XRLV    0.000000e+00     1.000000
9062   YLDE    0.000000e+00     1.000000

[9063 rows x 3 columns]

In [41]:
dollars_syms = list(dollars['symbol'])
orders_syms = list(orders['symbol'])

In [49]:
unique_syms = list(set(orders_syms).union(set(dollars_syms)))

In [51]:
len(unique_syms)

9063

In [57]:
sprt = ad.get_bars("SPRT", "2021-08-26", "2021-08-31", limit=3000000)

In [59]:
sprt.tail()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2021-08-31 23:55:00+00:00,30.96,31.05,30.96,31.05,1823,24,30.980005
2021-08-31 23:56:00+00:00,31.05,31.10,31.00,31.00,1366,28,31.035031
2021-08-31 23:57:00+00:00,30.99,31.00,30.98,30.99,3606,30,30.990652
2021-08-31 23:58:00+00:00,30.99,30.99,30.92,30.97,5974,49,30.946923
2021-08-31 23:59:00+00:00,30.96,30.96,30.92,30.95,14644,73,30.938975